@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Diplomata|Great+Vibes|Tangerine');

body {
  background-color: rgb(179, 207, 179);
}

header.main_header_section {
  padding: 24px;
  background-color: rgb(7, 65, 7);
}

.main_logo {
  font-family: 'Diplomata', cursive;
  font-weight: 300;
  font-size: 45px;
  color:white;
  text-align: center;
  text-decoration: none;
  
}

.main_subtitle {
  font-family: 'Arima Madurai', cursive;
  color: white;
  font-weight: 200px;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;

}

/* unvisited link */
a:link {
  text-decoration: underline;
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.user_label {
  margin: 12px;
}
.view_all_clubs {
  color: red;
  text-align: center;
  text-decoration: none;

}

.welcome_title {
  color: red;
  text-align: center;
  padding: 8px;
}

.logout_button {
  margin: 0px;
}

.delete_button {
  margin: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
